
body {
    height: 100%;
    background-color: lightblue;
    color: green;
    font-size: Arial;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: green;
    font-weight: bold;
     padding: 1px 0px;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    transition: 0.3 20s 1000s;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: ;
    font-weight: bold;   
    -moz-text-shadow: 0.3px 10px 10px #000000;
    text-shadow: 0.3px 10px 10px #000000;
}

a:active {
    color: pink;
    background-color: green;
}

header {
    background-image: linear-gradient(to right bottom, red, Orange, Yellow, Green, Blue, Indigo, Violet);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    transition: 3s;
    text-align: left;       
}

header:hover {
    color: red;
    transform: scale(0.9); 
}

footer {
    background-image: linear-gradient(to right bottom, red, Orange, Yellow, Green, Blue, Indigo, Violet);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
    transition: 3s;
    position: relative;
    height: 30px;
}


footer:hover {
    color:red;
    transform: scale(0.9); 

}

main {
    min-height: 100%;
    margin-bottom: 160px
}